* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    width: 370px;
    display: block;
    margin: 20px auto;

}

body {
    background-color: rebeccapurple;
}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;

}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700px;
    font-size: 16px;
    color: #555555;
}

button {
    background: #772FD3;
    width: 327px;
    height: 48px;
    top: 329px;
    left: 24px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 18px;

}

section{
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.real{
    margin: 15px;
}

.dolar{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda{
    color: #777777;
    font-size: 14px;
}

.valormoeda{
    color: #555555;
    font-weight: 700px;
    font-size: 20px;
}

button:hover{
    opacity: o.8;
}
button:active{
opacity: 0.6;
}